<a href="/players">Player Index</a>

<h1>Team Name: <%= @team.name %></h1>
<p>Year Founded: <%= @team.year_founded %></p>
<p>Former Champion: <%= @team.former_champion %></p>
<p>Associated Players: <%= @team.players.count %></p>